.App {
  text-align: center;

}

body {
  background-color: lightblue;
}

.navbar {
  background-color: yellow;
  margin-top: -20px;
}

.pokemon {
  border: 10px black;
  border-style: dashed;
  margin: 50px;
}